/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-size: 16px;
}

/* INTESTAZIONE */
header {
    background-color: rgb(255, 115, 0);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* nav intestazione */
    nav {
        display: flex;
        width: 60%;
        margin: 0 auto;
        height: 100%;
    }
        /* links */
        .aside {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 25%;
        }

            .link {
                color: #fff;
                text-decoration: none;
                margin-right: 10px;
            }

        /* logo */
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

            .logo img {
                width: 20%;
            }
        
        /* icone intestazione */
        .right {
            justify-content: flex-end;
        }

            .icon {
                color: #fff;
                margin-left: 10px;
            }   

/* CORPO PAGINA */
main {
    margin-top: 70px;
    padding: 5% 0;
}

    /* container */
    .container {
        width: 60%;
        margin: 0 auto;
    }
        /* riga */
        .row {
            display: flex;
            justify-content: space-between;
        }

            .row > div {
                width: 32%;
                position: relative;
            }
                /* immagini */
                .shop-img {
                    max-width: 100%;
                }

                .uno {
                    z-index: 1;
                }

                .due {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                .row > div:hover .due {
                    z-index: 2;
                }

                /* labels */
                .label-container {
                    position: absolute;
                    left: 0;
                    bottom: 10%;
                    z-index: 3;
                }
                    .label {
                        color: #fff;
                        padding: 5px 10px;
                        
                    }
                    .red {
                        background-color: red;                
                    }

                    .green {
                        background-color: green;                       
                    }
                
                /* cuore */
                .heart {
                    position: absolute;
                    right: 0;
                    top: 5%;
                    background-color: rgb(248, 245, 245);
                    padding: 20px;
                    z-index: 3;
                }